@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
body {
  background-image: url("/brown/img/background-image.png");
  font-family: Tahoma, Arial, Helvetica, sans-serif; }

.bg-menu-active {
  background-color: rgba(19, 97, 117, 0.63) !important; }

.jumbotron {
  margin: 0;
  padding: 0;
  background-color: rgba(19, 97, 117, 0.73); }

header .header {
  text-align: center;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-bottom: 0px;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(19, 97, 117, 0.73)), url("/brown/img/header-image-min.jpg");
  color: white;
  min-height: 30vh;
  background-color: white;
  border-radius: 20px 20px 0 0;
  box-shadow: -6px -6px 6px -6px rgba(0, 0, 0, 0.2), 6px -6px 6px -6px rgba(0, 0, 0, 0.2); }
  header .header .headertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    header .header .headertext h1 {
      font-family: 'Dancing Script', cursive;
      font-size: calc(20px + 2vw);
      text-shadow: 1px 1px 2px black; }
    header .header .headertext h2 {
      font-family: 'Quicksand', sans-serif;
      font-size: calc(12px + 1vw);
      text-shadow: 1px 1px 1px black; }

header .header:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 10px;
  right: 10px;
  bottom: 0px;
  border-radius: 20px 20px 0 0;
  border: 1px dashed rgba(173, 216, 230, 0.52);
  border-bottom: none; }

.content {
  box-shadow: 6px 6px 6px -6px rgba(0, 0, 0, 0.2), -6px 6px 6px -6px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
  background-color: white;
  z-index: 0; }

.main {
  padding: 20px 30px;
  border-radius: 0 0 20px 20px;
  z-index: 0;
  color: black;
  text-align: left; }
  .main a:link, .main a:visited {
    color: #136175 !important;
    text-decoration: none; }
  .main a:hover, .main a:active {
    color: black !important;
    text-decoration: none; }

.highlight {
  padding: 10px;
  margin: 0; }
  .highlight :hover {
    background-color: #d7e9f0; }
  .highlight ul {
    padding: 10px; }
  .highlight .li-highlight {
    background-color: #d7e9f0;
    padding: 5px; }
  .highlight li {
    padding: 5px; }
  .highlight a {
    float: right; }

.list-map {
  background-color: rgba(215, 233, 240, 0.465);
  padding: 10px;
  margin-bottom: 10px; }

h3, h4 {
  text-align: center; }

.center-image {
  margin: 20px 0;
  padding: 5px;
  align-self: center; }

.main-image {
  width: 100%;
  padding: 0px; }

.main:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 10px;
  right: 10px;
  bottom: 0px;
  border: 1px dashed rgba(173, 216, 230, 0.52);
  border-top: none;
  border-bottom: none;
  z-index: -1; }

.navi {
  background-color: #add8e6;
  padding: 0px;
  border: none;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1; }

.dropdown-menu {
  background-color: #d7e9f0; }
  .dropdown-menu a:hover {
    background-color: lightblue; }

.dropdown {
  background-color: lightblue; }

.nav-link a:hover {
  background-color: #d7e9f0; }

footer {
  background-color: lightblue; }
  footer .footer {
    padding: 20px;
    padding-top: 10px;
    border-radius: 0 0 20px 20px;
    z-index: 0;
    background-color: lightblue;
    font-size: calc(12px + .2vw);
    color: black; }
  footer .footer:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 0 0 20px 20px;
    border: 1px dashed white;
    border-top: none;
    z-index: -1; }

#top {
  display: none; }

ol {
  background-color: #d7e9f0 !important; }
